<div class="about">
      <div class="row">

        <div data-aos="fade-right" class="col-sm-5">
            <div class="card-body">
              <h4 class="card-title">Basic Information</h4>
              <li>Name : Suvarna Radhakrishnan</li>
              <li>Email : suvarnar10@gmail.com</li>
              <li>Date of Birth : 20-09-1996</li>
              <li>Language : English, Malayalam</li>
            </div>
        </div>

        <div data-aos="fade-left" class="col-sm-5">
            <div class="card-body">
              <h4 class="card-title">Education</h4>
              <ul>
                <li>Bachelor's Degree : 2013 -2016</li>
                <li>Higher Secondary : 2011 -2013</li>
                <li>SSLC : 2010 -2011</li>
              </ul>
            </div>
          </div>
          
        </div>
        </div>
    


