.services{
    height: 545px;
    padding: 100px;
    padding-top: 180px;
    /* padding-left: 400px; */
    background-color:lightgreen;
}
/* .carousel{
    height: 400px;
    width: 600px;
    background-color:lightgreen;
    padding-top: 50px;
   }
p{
    text-align: center;
}
h4{
    text-align: center;
}
.ab{
    padding-left: 100px;
    padding-right: 100px;
} */
